body {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
.logoutClass {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
}
.loadingDiv {
  text-align: center;
  margin: auto;
}
.loginBtn {
  text-align: center;
  margin: auto;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: #9face6;
  text-shadow: #9face6;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 12%, #9face6 100%);
}
.divMessage {
  position: relative;
}
.thrashClass {
  position: absolute;
  right: 4px;
  top: -3px;
}
.roomIndicator {
  position: absolute;
  right: 8px;
}
.thrashIcon {
  font-size: small;
}
.chatRoomDiv {
  margin: auto;
  width: 942px;
  height: 562px;
}

.activ:hover {
  background-color: #007bff;
}
.dateUserPanel {
  font-size: xx-small;
}
.wallClass {
  margin-right: 10%;
}
.wallbtn {
  border: none;
  padding: 0;
  background: none;
}
.activeWall {
  background-color: #007bff;
}
